APP_NAME=GovorunBot
APP_URL=http://localhost
APP_ENV=production
APP_DEBUG=false

MESSENGER_DRIVER=telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file

LOG_CHANNEL=single
LOG_LEVEL=debug
