/.claude/           export-ignore
/.idea/             export-ignore
/.osp/              export-ignore
/docs/              export-ignore
.gitattributes      export-ignore
CLAUDE.md           export-ignore
